# Виртуальное окружение
.venv/
venv/
env/

# Кэш питона
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/

# База данных
*.db
*.sqlite3

# Файлы IDE и редакторов
.vscode/
.idea/
.DS_Store

# ОС
Thumbs.db
.DS_Store