# Виртуальное окружение
venv/
env/

# Кэш питона
__pycache__/
*.pyc
.pytest_cache/
*.log

# База данных
*.db
*.sqlite3

# Файлы IDE и редакторов
.vscode/
.idea/
.DS_Store

# Runner wrapper
powershell.bat